{% include "header.html" %}


<div class="container my-5">
    {% with messages = get_flashed_messages() %}
	  {% if messages %}
		{% for message in messages %}
		  <p>{{ message }}</p>
		{% endfor %}
	  {% endif %}
	{% endwith %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" type="text" class="form-control" id="title" placeholder="Movie Title">
          </div>
          <div class="input-group mb-3">
                <label class="input-group-text" for="moviefile">Upload</label>
                <input name="file" type="file" class="form-control" id="moviefile">
          </div>
          <button class="btn btn-dark web-btn" type="submit" >Submit</button>
    </form>
</div>

